@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;







  /* Charter-bold */
  @font-face {
    font-family: 'Charter-bold';
    src: url('./assets/Fonts/charter/eot/Charter-Bold.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Bold.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Bold.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
  }


  /* Charter Regular */
@font-face {
    font-family: 'Charter-Regular';
    src: url('./assets/Fonts/charter/eot/Charter-Regular.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Regular.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Regular.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }



  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
 

  /* Base font sizes for small screens (default) */
:root {
  --font-size-h1: 20px; /* 40px */
  --font-size-h2: 16px; /* 32px */
  --font-size-h3: 14px; /* 28px */
  --font-size-h4: 1.5rem; /* 24px */
  --font-size-h5: 1.25rem; /* 20px */
  --font-size-h6: 1rem; /* 16px */
  --font-size-p: 12px; /* 16px */
  --font-size-span: 1rem; /* 16px */
}



  * {
    box-sizing: border-box!important; /* Apply globally */
  }
  
  html{
    scroll-behavior: smooth;
  }
  /* Optionally apply global styles */
  body {
    /* font-family: 'Charter-Regular', ''; */
    font-family: "Baskervville", serif;
    font-weight: 400;
  }

/* main::-webkit-scrollbar{
    display: none;
} */



.layout{
    width: 100%;
}

.main-inner-content::-webkit-scrollbar{
    display: none;
}

h1{
    /* font-family: 'Charter-bold', serif; */
    font-family: "Baskervville", serif;
    font-weight: bold;
    font-style: normal;
    font-size: var(--font-size-h1);
    /* 3.555vh */
    /* 3vh */
    line-height: 4vh;
    margin-bottom: 1vh;
    color: #5F8F93;
}


p{
    /* font-family: 'Charter-regular', serif; */
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vh;
    /* text-wrap: pretty; */
    /* word-break: break-all; */
    text-align:  justify;
    
    /* font-size: clamp(10px, 1.7vh, 1.7vh); */
    font-size: var(--font-size-p);
    /*  1.9vh */
    /* line-height: 2.667vh; */
    color: #5F8F93;
    margin: 0.999vh 0px;
}

h2{
    /* font-family: 'Charter-bold', serif; */
    font-family: "Baskervville", serif;
    font-weight: bold;
    font-style: normal;
    font-size: var(--font-size-h2);
    /* 2.2vh */
    /* font-size: 2.5vh; */
    margin: 1.556vh 0px 1.556vh 0px;
    line-height: 2.667vh;
    color: #000000;
}

h3{
    /* font-family: 'Charter-bold', serif; */
    font-family: "Baskervville", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
    line-height: 2.667vh;
    color: #5F8F93;
    margin: 1.556vh 0px 1.556vh 0px;
}

/* label{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: vh;
    line-height: 2.667vh;
    color: #5F8F93;
} */

button{
    /* font-family: 'Charter-bold', serif; */
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vh;
    margin-left: 1vh;
    line-height: 2.667vh;
    color: #5F8F93;
}

h5{
    /* font-family: 'Charter-regular', serif; */
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.999vh;
    line-height: 2vh;
    color: #5F8F93;
}

h6{
    /* font-family: 'Charter-regular', serif; */
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.999vh; 
    /* 1.999vh */
    line-height: 2vh;
    color: #5F8F93;
}


span{
  /* font-family: 'Charter-regular', serif; */
  font-family: "Baskervville", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.7;
  line-height: 2.667vh;
  color: #5F8F93;
}


/* Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* General for other browsers */
input[type=number] {
    appearance: textfield;
}




/* Medium Screens (tablets) */
/* 
@media (min-width: 768px) {
  :root {
    --font-size-h1: 3rem; 48px
    --font-size-h2: 2.5rem; 40px
    --font-size-h3: 2.25rem; 36px
    --font-size-h4: 2rem; 32px
    --font-size-h5: 1.75rem; 28px
    --font-size-h6: 1.5rem; 24px
    --font-size-p: 1.125rem; 18px
    --font-size-span: 1.125rem; 18px
  }
} */


/* Large Screens (desktops) */
@media (min-width: 1024px) {
  :root {
    --font-size-h1: 3vh; /* 64px */
    --font-size-h2: 2.2vh; /* 56px */
    --font-size-h3: 2vh; /* 48px */
    --font-size-h4: 2.5rem; /* 40px */
    --font-size-h5:1.999vh; /* 32px */
    --font-size-h6: 1.999vh; /* 28px */
    --font-size-p: 1.7vh; /* 20px */
    --font-size-span: 1.7vh; /* 20px */
  }
}