@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Charter-regular';
    src: url('./assets/Fonts/charter/ttf/Charter\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style:normal;
  }



  @font-face {
    font-family: 'Charter-bold';
    src: url('./assets/Fonts/charter/eot/Charter\ Bold.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Bold.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Bold.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter\ Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
  }


  /* Charter Regular */
@font-face {
    font-family: 'Charter';
    src: url('./assets/Fonts/charter/eot/Charter\ Regular.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Regular.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Regular.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter\ Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }


  * {
    box-sizing: border-box!important; /* Apply globally */
  }
  
  html{
    scroll-behavior: smooth;
  }
  /* Optionally apply global styles */
  body {
    font-family: 'Charter-regular', serif;
  }

main::-webkit-scrollbar{
    display: none;
}



.layout{
    width: 100%;
}

.main-inner-content::-webkit-scrollbar{
    display: none;
}

h1{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 14px;
    color: #5F8F93;
}


p{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* line-height: 24px; */
    color: #5F8F93;
    margin: 8px 0px;
}

h2{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin: 14px 0px 14px 0px;
    line-height: 24px;
    color: #000000;
}

h3{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #5F8F93;
    margin: 14px 0px 14px 0px;
}

label{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #5F8F93;
}

button{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    margin-left: 10px;
    line-height: 24px;
    color: #5F8F93;
}

h5{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #5F8F93;
}

h6{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #5F8F93;
}


span{
  font-family: 'Charter-regular', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5F8F93;
}
