@tailwind base;
@tailwind components;
@tailwind utilities;


  /* @font-face {
    font-family: 'Charter-regular';
    src: url('./assets/Fonts/charter/ttf/Charter\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style:normal;
  } */



  /* Charter-bold */
  @font-face {
    font-family: 'Charter-bold';
    src: url('./assets/Fonts/charter/eot/Charter-Bold.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Bold.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Bold.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
  }


  /* Charter Regular */
@font-face {
    font-family: 'Charter';
    src: url('./assets/Fonts/charter/eot/Charter-Regular.eot'); /* IE9 */
    src: 
         url('./assets/Fonts/charter/woff2/Charter-Regular.woff2') format('woff2'), /* Super modern browsers */
         url('./assets/Fonts/charter/woff/Charter-Regular.woff') format('woff'), /* Modern browsers */
         url('./assets/Fonts/charter/ttf/Charter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }


  * {
    box-sizing: border-box!important; /* Apply globally */
  }
  
  html{
    scroll-behavior: smooth;
  }
  /* Optionally apply global styles */
  body {
    font-family: 'Charter', 'Arial', sans-serif;
  }

main::-webkit-scrollbar{
    display: none;
}



.layout{
    width: 100%;
}

.main-inner-content::-webkit-scrollbar{
    display: none;
}

h1{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vh;
    /* 3.555vh */
    line-height: 4vh;
    margin-bottom: 1vh;
    color: #5F8F93;
}


p{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vh;
    /*  1.9vh */
    /* line-height: 2.667vh; */
    color: #5F8F93;
    margin: 0.999vh 0px;
}

h2{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2vh;
    /* font-size: 2.5vh; */
    margin: 1.556vh 0px 1.556vh 0px;
    line-height: 2.667vh;
    color: #000000;
}

h3{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vh;
    line-height: 2.667vh;
    color: #5F8F93;
    margin: 1.556vh 0px 1.556vh 0px;
}

/* label{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: vh;
    line-height: 2.667vh;
    color: #5F8F93;
} */

button{
    font-family: 'Charter-bold', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3vh;
    margin-left: 1vh;
    line-height: 2.667vh;
    color: #5F8F93;
}

h5{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.999vh;
    line-height: 2vh;
    color: #5F8F93;
}

h6{
    font-family: 'Charter-regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.999vh; 
    /* 1.999vh */
    line-height: 2vh;
    color: #5F8F93;
}


span{
  font-family: 'Charter-regular', serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.7;
  line-height: 2.667vh;
  color: #5F8F93;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}